<section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    <%= blog.title %>
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">December 16, 2017</li>
                    <li class="cat">
                        In
												<% for(tag of blog.tags) { %>
													<a href="/tag/<%= tag.name %>"><%= tag.name %></a>
												<% } %>
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="/assets/uploads/<%= blog.banner %>" title="<%= blog.title %>" alt="<%= blog.title %>" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
									<%= blog.description %>

                <p class="s-content__tags">
                    <span>Post Tags</span>

                    <span class="s-content__tag-list">
												<% for(tag of blog.tags) {%>
													<a href="/tag/<%= tag.name %>"><%= tag.name %></a>                        
												<% } %>
                    </span>
                </p> <!-- end s-content__tags -->

                <div class="s-content__author">
                    <img src="images/avatars/user-03.jpg" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="/user/<%= (blog.user !==null)?blog.user.username:"admin" %>"><%= (blog.user !== null)?blog.user.name:"Admin" %></a>
                        </h4>
                    
                        <p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>

                        <ul class="s-content__author-social">
                           <li><a href="#0">Facebook</a></li>
                           <li><a href="#0">Twitter</a></li>
                           <li><a href="#0">GooglePlus</a></li>
                           <li><a href="#0">Instagram</a></li>
                        </ul>
                    </div>
                </div>

                <div class="s-content__pagenav">
                    <div class="s-content__nav">
												<% if(prevBlog) { %>
													<div class="s-content__prev">
															<a href="/article/<%= prevBlog.slug %>" rel="prev">
																	<span><====	 Previous Post</span>
																<%= prevBlog.title %>
															</a>
													</div>
												<% } %>
												<% if(nextBlog) { %>
													<div class="s-content__next">
															<a href="/article/<%= nextBlog.slug %>" rel="next">
																	<span>Next Post  ====></span>
																	<%= nextBlog.title %>  
															</a>
													</div>
												<% } %>
                    </div>
                </div> <!-- end s-content__pagenav -->

            </div> <!-- end s-content__main -->

        </article>


        <!-- comments
        ================================================== -->
        <div class="comments-wrap">

            <div id="comments" class="row">
                <div class="col-full">

                    


                    <!-- respond
                    ================================================== -->
                    <div class="respond">

                        <h3 class="h2">Add Comment</h3>

                        <form name="contactForm" id="contactForm" method="post" action="">
                            <fieldset>

                                <div class="form-field">
                                        <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                                </div>

                                <div class="form-field">
                                        <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                                </div>

                                <div class="form-field">
                                        <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website" value="">
                                </div>

                                <div class="message form-field">
                                    <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                                </div>

                                <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

                            </fieldset>
                        </form> <!-- end form -->

                    </div> <!-- end respond -->

                </div> <!-- end col-full -->

            </div> <!-- end row comments -->
        </div> <!-- end comments-wrap -->

    </section> <!-- s-content -->